

@font-face {
  font-family: "Flaticon";
  src: url("./	fonts/icon/Flaticon.eot");
  src: url("./	fonts/icon/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./	fonts/icon/Flaticon.woff") format("woff"),
       url("./	fonts/icon/Flaticon.ttf") format("truetype"),
       url("./	fonts/icon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face { 
    font-family: "Flaticon";
    src: url("./	fonts/icon/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
	font-style: lighter;
	}

.flaticon-arrow:before { content: "\f100"; }
.flaticon-arrows:before { content: "\f101"; }
.flaticon-arrows-1:before { content: "\f102"; }
.flaticon-black:before { content: "\f103"; }
.flaticon-business:before { content: "\f104"; }
.flaticon-business-1:before { content: "\f105"; }
.flaticon-close:before { content: "\f106"; }
.flaticon-delete:before { content: "\f107"; }
.flaticon-drink:before { content: "\f108"; }
.flaticon-folder:before { content: "\f109"; }
.flaticon-food:before { content: "\f10a"; }
.flaticon-hat:before { content: "\f10b"; }
.flaticon-icon-128:before { content: "\f10c"; }
.flaticon-interface:before { content: "\f10d"; }
.flaticon-location:before { content: "\f10e"; }
.flaticon-man:before { content: "\f10f"; }
.flaticon-mark:before { content: "\f110"; }
.flaticon-medical:before { content: "\f111"; }
.flaticon-medical-1:before { content: "\f112"; }
.flaticon-party:before { content: "\f113"; }
.flaticon-people:before { content: "\f114"; }
.flaticon-people-1:before { content: "\f115"; }
.flaticon-people-2:before { content: "\f116"; }
.flaticon-search:before { content: "\f117"; }
.flaticon-signs:before { content: "\f118"; }
.flaticon-signs-1:before { content: "\f119"; }
.flaticon-social:before { content: "\f11a"; }
.flaticon-square:before { content: "\f11b"; }
.flaticon-talk:before { content: "\f11c"; }
.flaticon-technology:before { content: "\f11d"; }