@mixin flexFlow {
-webkit-flex-flow: row wrap;
-ms-flex-flow: row wrap;
flex-flow: row wrap;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
width: 100%;
}


@mixin centerAbsolute {
margin: auto;
position: absolute;
top: 0; left: 0; bottom: 0; right: 0;
}

@mixin centerAbsolute2 {
  margin: 0 auto;
  position: absolute;
  left: 0;  right: 0;
}

@mixin centerImage {
  margin: 0 auto;
  position: absolute;
  left: 0;  right: 0;
}

@mixin wrappLarge{
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

@mixin cover {
 -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}
@mixin cero {
	padding: 0;
	 margin: 0;
}
