body {
 
    font-family: 'Titillium Web', sans-serif !important;
    background: #000;
    overflow-y: hidden;
  }


.bottomInher{
	bottom: 0;
}
.bottomTop{
	bottom: 500px;
}

.lean-overlay{
	display: none !important;
}

i{
		font-style: normal;
		-webkit-font-smoothing: antialiased  !important;
}

.section{
	background-color: #000 !important;
}

#fullpage{
	margin-top:0px !important;
}



footer{
	background-color: #222;
	position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
    z-index: 1004;
	.container{
       width: 60%	;
       left: 0;
       right: 0;
       margin: 0 auto;
       bottom: 0;
	   height: 30px;
	   margin: auto;
	   position: absolute; 
	   top: 0;
	   // background: red; 
	   @include flexFlow;
	   ul:nth-child(1){
	   	font-size: 14px;
	   	float: right; 
	   	@include flexFlow;
	   	width: 52%;
	   	li{
	   		color: #9a9a9a;
	   		margin: 0 3px;
	   		a{
	   			color: #9a9a9a;
	   			transition: .2s;
	   			:hover{
	   				color:  $red;
	   			}
	   		}
	   	}
	   }
	   ul:nth-child(2){
	   	float: left;
	   	@include flexFlow;
	   	width: 48%;
	   	font-size: 14px;
	   	li{
	   		margin: 0 5px;
	   		color: #9a9a9a;
	   		float: right;
	   		font-weight: lighter;
	   		a{
	   			color: white;
	   			transition: .2s;
	   			:hover{
	   				color:  $red;
	   			}

	   		}
	   	}
	   	a{
	   		color: #9a9a9a;
	   		float: right;
	   		font-weight: lighter;
	   		margin: 0 1px;
	   		i{
	   			vertical-align: middle;
	   		}
	   	}
	  }
	}
	// a{

	// 	color:$lightgrey;
	// 	transition: color .3s;
	
	// 	&:hover{
	// 	color:$red !important;
	// 	}


	
	


	// ul{ 
	// 	@include cero;

	// 	li{
	// 		display: inline-block;
	// 		color: $lightgrey;
	// 		padding:0 10px;

	// 		a{
	// 			color:$lightgrey;
	// 			transition: color .3s;
			
	// 			&:hover{
	// 			color:$red !important;
	// 			}

	// 		}

	// 	}
	// }

}



header{
	position:fixed;
	height: 10%;
	display:block;
	width: 100%;
	background: white;
	z-index:9;
	overflow: hidden;
	.first-nav{
		border:0;
		height: 100%;
		color:$grey;
		.nav-wrapper {
			width: 60%;
			position: relative;
			
				>img{
					 
					  bottom: 0;
					  height: calc(3vw + 3vh);
					  margin: auto;
					  position: absolute; 
					  top: 0;
					  @media (min-height: 800px){
                          height: calc(3.3vw + 3.3vh);
					  }

				}
			 
			> ul{
				display: inline-table;
				height: 98%;
				li{
					background: transparent;
					text-align: center;
					color: #555;
					padding: 0 18px;
					cursor: pointer;
					border-top: 4px solid transparent;
					// padding-top: 0;
					&:hover{
						background: rgba( 0, 0,0, .77);
						color: white;
						border-top: 4px solid $red;
					}
					
					
						i{

                          display: inline-block;
                          font-size: 22px;
                          height: 0;
                          line-height: 0;
                          vertical-align: sub;
                          @media (min-height: 840px){
                              display: block;
                               line-height: 4rem;
                               height: 29px;
                               font-size: 29px;

	                 
                         }
					}
					 @media (min-height: 600px){
                         padding-top: 1%;
					 }
					 @media (min-height: 720px){
                         padding-top: 2%;
					 }
					 @media (min-height: 840px){
					 	padding: 0 18px;
					 }
				
				}
			}
		}		
	}
	// @media (min-height: 520px){
		
	// }
}
main.contenido{	
	height: 80%;
	.second-nav{
		background-color:black;
		height: 9%;
		z-index:99;
		width: 100%;
		position:relative;
		.nav-wrapper {
			width: 60%;
			position: relative;
	           
				div:nth-child(1){
				
				  	h2{
				  		color:$red;
						text-transform:uppercase;
						font-family: 'Titillium Web', sans-serif;
						font-weight: 700;
						font-size: 22px;
						position: absolute;
						top: 0;
						bottom: 0;
						height: 22px;
						margin: auto 0;
				  	}
				}

			  	.guardados{
			  		position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					height: 60px;
					margin: auto 0;
			  		text-align: right;
			  		span:nth-child(1){
			  			display: inline-block;
			  			width: 30px;
			  			vertical-align: middle;
			  			color: $red;
			  		}
				  		a{
							text-decoration: underline;
				  		 }
				  		span:nth-child(3){
						padding: 0px 10px 0px 8px;
				    	border-radius: 5px;
						color:white;
						background-color:$red;
						margin-left: 10px;
					}	
		  		}
		  	
		}		
	}

	article{
		@include cero;
		@include flexFlow ;
		position: relative;
		height: 91%;
	
	// nth-child1
	aside:nth-child(1){
		width: 20%;
		background-color: $greyLight; 
        ul.collapsible{
        	border:0;
        	box-shadow: none;
        	padding: 0 ;
        	width: 100%;
        	li:nth-child(2){
        		.collapsible-header{
        			border-top: 1px solid rgba( 255,255,255, .1);
        		}
        	}
        	li:nth-child(1){

        		.collapsible-body{
                   height: 54vh;
        		}
        	}
        	li{
        		width: 100%;
        		.collapsible-header{
        			background-size: 40px; 
        			background: url(assets/images/iconMore.png) no-repeat 97% center  ;
        			color: white;
        			padding: 18px 0;
        			border:0;
        			.content-collapsible-header{
        				padding: 0  18px;
        				font-size: 14px;
	        	    }		
        		}
        		
        		
	        	.collapsible-body{
	        		border: 0;
	        		padding: 0 18px;
	        		.select-wrapper{
	        			background: $red;
        				height: 40px;
        				border-radius: 4px;
        				margin-bottom: 16px;
	        			input.select-dropdown{
	        				font-weight: 100;
	        			}
        				span.caret{
                             padding: 7px 10px 0;
                             font-size: 32px;
        				}
	        		}
	        	}
	        }
	        li.active{
	        	.collapsible-header{
	        		 background: none !important;
	        		 cursor: default;
	        	}
	        }	

        }

	}
	// nth-child2
	aside:nth-child(2){
		width: 80%;
		background-color: white;
		position: relative;
		// iframe{
		// 	overflow:hidden;
		// 	overflow-x:hidden;
		// 	overflow-y:hidden;
		// 	height:100%;
		// 	width:100%;
		// 	position:absolute;
		// 	top:0px;
		// 	left:0px;
		// 	right:0px;
		// 	bottom:0px;
		// }
	}
  }
}

.contenido-contacto{
	padding-bottom:100px;
}

.img-header{
	height:180px;

	img{
		width: 100%;
	}
}

.contacto {
	margin-top: 50px;


		.row{
		
			img{
				border: 1px solid $lightgrey;
				margin-top: 10px;
			}

			h3{
				color: #eb1f26;
			    font-family: 'Titillium Web', sans-serif;
			    font-weight: 700;
			    font-size: 22px;
			    line-height: 12px;
			    margin-bottom: 3px;
			    margin-top: 30px;

			}

			span{
				color: $red;
			}
			
			p:nth-child(3){
				text-transform:uppercase; 
			}
			
			p:nth-child(1){
				padding:15px;
				background-color:#444545;
				color:$lightgrey;
				text-align: center;
			
				span{
					font-size: 30px;
					color:$lightgrey !important;
				}

			}

			.s10{
				border-bottom: 1px solid $lightgrey;
				margin-bottom: 10px;
			}
		}
}


.personal {
	
	.row {

		.col {

			h3{
				padding:10px;
				background-color: $red;
				color: white;
				font-size: 19px;
			}

			h4{
				font-size: 20px;
				text-transform: uppercase;
				color:red;
				margin: 0;
			}

			a{
				font-size: 15px;
				    color: rgba(0, 0, 0, 0.87);
				margin-top: 3px;
				text-decoration: underline;
			}

		}

	}
}

.campana {
	margin-top:150px;

	h2{
		color: $red;
	    text-transform: uppercase;
	    font-family: 'Titillium Web', sans-serif;
	    font-weight: 700;
	    font-size: 22px;
	    line-height: 12px;
	    text-align: left;
	}

	p{

	text-align: right;

		a{
			padding: 10px 20px;
			background-color: $red;
			border: 3px solid $red;
			color: white;
			transition: all .2s linear;
			font-size: 18px;
			margin-top: 20px;

			&:hover{
				background-color: white;
				color: $red;

			}

			i{
				vertical-align:middle;
				margin-right:10px;
			}
		}

	}
}

.tabla{
	padding:40px!important;

	i{
		font-style: normal;
		-webkit-font-smoothing: antialiased;
		font-size: 25px;
    	line-height: 15px;

	}

	th{
		text-align: left;
	    background-color: $red;
	    border: 2px solid $red;
	    color: white;
	    text-transform: uppercase;
	    padding-left:10px;
	}

	tr{
		td{
			padding-left:10px;
		}
	}
}




