p {
	color:red;
}

.second-nav {
	background-color:black;
}

.first-nav{
	height: 110px;
	color:$grey;

	a{
		color:$grey;
		width: 200px;
		text-align: center;
		text-transform: uppercase;
		padding-top: 10px;
	}

	.nav-wrapper {
		i{
		height: 35px;
   		text-align: center;
    	line-height: 64px;
		}
	}
}

.brand-logo {

	text-align:left !important;
	
	img{
		padding-top:10px;
	}
}
.contenido{
	height: 80vh;
	@include flexFlow ;
	ul{
		@include cero;
	}
	// nth-child1
	ul:nth-child(1){
		width: 20%;
		background-color: $grayLight;
		padding: 24px 36px;  
		h3{
          color: white;
          font-size: 14px;

		}
		li.input-field{
			background: $red;
			border-radius: 5px;
		}	
		.modal{
			width: 19.8%;
		}
	}
	// nth-child2
	ul:nth-child(2){
		width: 80%;
		background-color: salmon;
	}
}

