p {
	color:red;
}

.contenido{
	z-index: -1;
    position: relative;
}

.lateral {
	top:142px !important;
}

.mapa{
	padding-left:280px;
}

.second-nav {
	background-color:black;

	i.material-icons{
		display: inline-block;
		width: 30px;
		font-size: 19px;
	}

	span{
		padding:5px 10px;
		color:white;
		background-color:$red;
		margin-left: 10px;
	}
}

.second-nav{

	.nav-wrapper {
		
		.row{

			div:nth-child(1) a{
				color:red;
				text-transform:uppercase;
			
			}
	  	}
	}		
}

.first-nav{
	height: 110px;
	color:$grey;

	a{
		color:$grey;
		width: 200px;
		text-align: center;
		text-transform: uppercase;
		padding-top: 10px;
	}

	.nav-wrapper {
		i { 
		height: 35px;
   		text-align: center;
    	line-height: 64px;
		}

	}

}

.brand-logo {

	text-align:left !important;
	
	img{
		padding-top:10px;
	}
}



