    /*
    Flaticon icon font: Flaticon
    Creation date: 14/04/2016 20:19
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-arrow:before { content: "\f100"; }
.flaticon-arrows:before { content: "\f101"; }
.flaticon-arrows-1:before { content: "\f102"; }
.flaticon-black:before { content: "\f103"; }
.flaticon-business:before { content: "\f104"; }
.flaticon-business-1:before { content: "\f105"; }
.flaticon-close:before { content: "\f106"; }
.flaticon-delete:before { content: "\f107"; }
.flaticon-drink:before { content: "\f108"; }
.flaticon-folder:before { content: "\f109"; }
.flaticon-food:before { content: "\f10a"; }
.flaticon-hat:before { content: "\f10b"; }
.flaticon-icon-128:before { content: "\f10c"; }
.flaticon-interface:before { content: "\f10d"; }
.flaticon-location:before { content: "\f10e"; }
.flaticon-man:before { content: "\f10f"; }
.flaticon-mark:before { content: "\f110"; }
.flaticon-medical:before { content: "\f111"; }
.flaticon-medical-1:before { content: "\f112"; }
.flaticon-party:before { content: "\f113"; }
.flaticon-people:before { content: "\f114"; }
.flaticon-people-1:before { content: "\f115"; }
.flaticon-people-2:before { content: "\f116"; }
.flaticon-search:before { content: "\f117"; }
.flaticon-signs:before { content: "\f118"; }
.flaticon-signs-1:before { content: "\f119"; }
.flaticon-social:before { content: "\f11a"; }
.flaticon-square:before { content: "\f11b"; }
.flaticon-talk:before { content: "\f11c"; }
.flaticon-technology:before { content: "\f11d"; }
    
    $font-Flaticon-arrow: "\f100";
    $font-Flaticon-arrows: "\f101";
    $font-Flaticon-arrows-1: "\f102";
    $font-Flaticon-black: "\f103";
    $font-Flaticon-business: "\f104";
    $font-Flaticon-business-1: "\f105";
    $font-Flaticon-close: "\f106";
    $font-Flaticon-delete: "\f107";
    $font-Flaticon-drink: "\f108";
    $font-Flaticon-folder: "\f109";
    $font-Flaticon-food: "\f10a";
    $font-Flaticon-hat: "\f10b";
    $font-Flaticon-icon-128: "\f10c";
    $font-Flaticon-interface: "\f10d";
    $font-Flaticon-location: "\f10e";
    $font-Flaticon-man: "\f10f";
    $font-Flaticon-mark: "\f110";
    $font-Flaticon-medical: "\f111";
    $font-Flaticon-medical-1: "\f112";
    $font-Flaticon-party: "\f113";
    $font-Flaticon-people: "\f114";
    $font-Flaticon-people-1: "\f115";
    $font-Flaticon-people-2: "\f116";
    $font-Flaticon-search: "\f117";
    $font-Flaticon-signs: "\f118";
    $font-Flaticon-signs-1: "\f119";
    $font-Flaticon-social: "\f11a";
    $font-Flaticon-square: "\f11b";
    $font-Flaticon-talk: "\f11c";
    $font-Flaticon-technology: "\f11d";